VITE_COMPANY_NAME=Liberica
VITE_SUPABASE_URL=https://zfgfdfqstecbhovkceno.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_QrQy27vwVTNt5Qi-3owWIw_3qymPLg1
SUPABASE_SECRET_KEY=sb_secret_pQq7PAoUEwWgjMgDL6s3ZA_v9gwRfsT
SUPABASE_JWKS_URL=https://zfgfdfqstecbhovkceno.supabase.co/auth/v1/.well-known/jwks.json